@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles de la barre de défilement */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d8;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

/* Mode sombre */
.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d8 transparent;
}

.dark * {
  scrollbar-color: #3f3f46 transparent;
}
